<div class="row">
<% @courses.each do |course| %>
  <div class="booyah-box col-xs-10 col-xs-offset-1" style="margin-bottom:10px">
  <div class="col-sm-2 col-xs-12 vcenter">
    <%= image_tag course.image, :class => 'img-responsive', :style => 'width:300px'%>
  </div>
  <div class="col-sm-8 col-xs-12 vcenter">
    <%= course.description %>
  </div>
  <div class="col-sm-1 col-xs-12 vcenter">
      <%= link_to 'Details', course_path(course), :class => 'btn btn-primary btn-large' %>
  </div>
  </div>
<% end %>
</div>
