body {
	background:url('congruent_outline.png');
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.clr {
  clear:both;
}

.navbar {
	border-radius:0;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    box-shadow: 0px 1px 3px #2a2a2a;
  	background:url('dark_wood.png');
}

.navbar-inverse a.navbar-brand {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	color: white;
}

.hero{
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:600px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.frosty {
	background-color: rgba(0,0,0,0.5);
	color:white;
}

.frosty h1 {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	text-shadow:rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	text-shadow:rgba(0,0,0,0.95) 1px 1px;
}

.btn {
	border-radius: 0;
}

.booyah-box {
/*  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
*/  /* background: #fff; */
  color:white;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid #ccc;
  border-color: black;
}
/* User sign in and sign forms. */
.border-form-div {
  max-width: 600px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  /*background-color: #fff;*/
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}