@font-face {font-family: "GB Pinyinok";
     src: url("ZRDGWQ+PinYinok.woff");
    /*
     *src: url("http://db.onlinewebfonts.com/t/468eb26e72702c3f5481694ff8da5ba2.eot");
     *src: url("http://db.onlinewebfonts.com/t/468eb26e72702c3f5481694ff8da5ba2.eot?#iefix") format("embedded-opentype"),
     *[>* url("http://db.onlinewebfonts.com/t/468eb26e72702c3f5481694ff8da5ba2.woff") format("woff"), *<]
     *[>* url("http://db.onlinewebfonts.com/t/468eb26e72702c3f5481694ff8da5ba2.ttf") format("truetype"), *<]
     *url("http://db.onlinewebfonts.com/t/468eb26e72702c3f5481694ff8da5ba2.svg#GB Pinyinok") format("svg");
     */
}

body {
    height: 100%;
	background:url('concrete_seamless.png');
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;
	/*font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;*/
}

.clr {
  clear: both;
  /*
   *box-sizing: border-box;
   *display: inline;
   *height: auto;
   *line-height: 20px;
   *width: auto;
   */
}

.alert {
  position: absolute;
  width:100%;
  z-index:99;
}

.navbar-toggle .icon-bar {
  background-color: grey;

}

.navbar {
	border-radius:0;
    /*font-family: "Helvetica Neue", Helvetica;*/
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;
    background: rgba(255,255,255,0.7);
    box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar a.navbar-brand {
	/*font-family: "Helvetica Neue", Helvetica;*/
	///font-weight: 100;
	color: red;
}

.hero{
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 1px 3px #2a2a2a;
  height:370px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  /*font-family: "Helvetica Neue", Helvetica;*/
  margin:0;
}

.frosty {
    background-color: rgba(255,255,255,0.3);
	color: black;
}

.frosty h1 {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	text-shadow:rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	text-shadow:rgba(0,0,0,0.95) 1px 1px;
}

.btn {
	border-radius: 0;
}

.booyah-box {
  /*
   *-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
   *-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
   *box-shadow: 1px 1px 2px 0 #d0d0d0;
   */
  background: #fff;
  color:white;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #ccc;
  border-color: black;
  margin-top:10px;
  padding-top:20px;
  padding-bottom:20px;
}
/* User sign in and sign forms. */
.border-form-div {
  max-width: 600px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  /*background-color: #fff;*/
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin:10px;
}

.lesson {
  background-color:black;
  margin-top:10px;
  height:130px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:20px;
}

.lesson a {
  color:white;
  font-family: "Helvetica Neue",Helvetica;
  font-weight:100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size:25px;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:20px;
  margin: 20px;
}

ul .header {
  font-size:25px;
}

ul .header .glyphicon {
  font-size:20px;
}

.lessons li {
  background:black;
  color:white;
  margin:10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding:8px;
  font-size:15px;
}

.lessons li b {
  font-size:25px;
  font-weight:100;
}

.lessons li p {
  margin:0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.imgCircle {
    border-radius: 50%;
    width: 83px;
    height: 83px;
    padding: 8px;
    background: #fff;
    border: 2px solid green;
    color: #666;
}

.courseBox {
  border:1px solid grey; 
  margin-top:-40px; 
  padding:10px; 
  background-color:white;
}

/** Lesson 1 **/

.flip {
  -webkit-perspective: 800;
  /* width: '120px'; */
  height: auto;
  position: relative;
  margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  -webkit-backface-visibility: hidden ;
  z-index: 2;
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
  line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
  background: white;
  color: white;
  cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
  background: white;
  color: white;
  cursor: pointer;
}
.pinyin-font {
  font-family: "GB Pinyinok";
  color: black;
  line-height:0.8;
  font-size:3em;
}
h1.lesson-header {
  color: green;
}


